.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
*.la
*.lo
*.o
libics_conf.h
libtool
ltmain.sh
m4/
missing
stamp-*
stamp-h2
test-driver
*.tar.gz
